<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Why Legal United is qualified to help.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/team/jantine_square.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">A Lawyer with a Passion for Learning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      Jantine is known for her personal and open approach, aware of the bigger picture with attention to detail. She enjoys working in an international environment, feels at home in groups yet likes to work independently as well.

                                      </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>The Practice</h4> -->
                                    <h4 class="subheading">The Practice</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Jantine started Legal United and has worked with startups, small law firms, independent professionals and retail on matters of copyright, contract law, internet law and trademark law. From researching the legal parameters to creating and fine-tuning creative concepts, Legal United focuses on the individual matter.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">In the heart of Amsterdam</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">You'll find Legal United in the centre of Amsterdam, The Netherlands. </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
